body{

}

.wrapper{
  display: grid;
  grid-template-columns: 300px 300px 300px;
}

.flag{
  width: 250px;
  height: 150px;
  border: 1px black solid;
  margin-bottom: 50px;
}

#irland{
  background-image: linear-gradient(
    to right,
    rgb(0, 155, 72) 0px 33%,
    rgb(255, 255, 255) 0px 66%,
    rgb(255, 121, 0) 0px 100%
    );

}

#fl2 {
  background-image: linear-gradient(
    45deg,
    rgb(206, 17, 39) 0px 37.5%,
    rgb(255, 255, 255) 0px 41%,
    rgb(0, 0, 0) 0px 59%,
    rgb(255, 255, 255) 0px 62.5%,
    rgb(206, 17, 39) 0px 100%
    );
}

#fl3 {
  background-image: linear-gradient(
    -45deg,
    rgb(219, 39, 30) 0px 37.5%,
    rgb(253, 222, 70) 0px 62.5%,
    rgb(0, 149, 67) 0px 100%
    );
}

#fl4 {
  background-image: linear-gradient(
    to bottom,
    rgb(235, 40, 57) 0px 25%,
    rgb(26, 32, 110) 0px 50%,
    rgb(254, 213, 1) 0px 75%,
    rgb(0, 165, 81) 0px 100%
  );
}

#fl5{
  background-image: linear-gradient(
    to bottom,
    rgb(68, 158, 211) 0px 30%,
    rgb(255, 255, 255) 0px 35%,
    rgb(0, 0, 0) 0px 65%,
    rgb(255, 255, 255) 0px 70%,
    rgb(68, 158, 211) 0px 100%
  );
}

#col1{
  float: left;
  width: 33%;
  height: 100%;
  background-image: linear-gradient(white, 0px, 100%);
}

#col2{
  float: left;
  width: 67%;
  height: 100%;
  background-image: linear-gradient(
    to bottom,
    rgb(252, 62, 50) 0px 50%,
    rgb(1, 126, 58) 0px 50%
    );
}
