.wrapper {
  display: grid;
  grid-template-columns: 200px 200px;
  grid-gap: 60px;
  width: 100%;
  height: 100%;
}

.block {
  background: rgb(255, 170, 0);
  border: rgb(0, 0, 255) 6px solid;
  width: 200px;
  height: 200px;
}

.block:nth-child(2n+1){
  border-radius: 15%;
}

.block:nth-child(1), .block:nth-child(2){
  box-shadow: 15px 15px  rgb(153, 153, 153);
}

.block:nth-child(1):hover, .block:nth-child(2):hover{
  box-shadow: 25px 25px  rgb(50, 50, 50);
  transition-duration: 1s;
}


.block:nth-child(3), .block:nth-child(4){
  box-shadow: inset 15px 15px  rgb(153, 102, 0);
}

.block:nth-child(3):hover, .block:nth-child(4):hover{
  box-shadow: inset 25px 25px 10px rgb(153, 102, 50);
  transition-duration: 1s;
}

.block:nth-child(5), .block:nth-child(6){
  box-shadow: 15px 15px 0px 15px rgb(153, 153, 153);
}

.block:nth-child(5):hover, .block:nth-child(6):hover{
  box-shadow: 15px 15px 20px 25px rgb(200, 200, 200);
  transition-duration: 1s;
}
