body{
  font-family: sans-serif;
  margin: 0;
  font-size: 20px;
}

.page{
  width: 100%;
  height: 100%
  margin: 0px;
  display: table;
}

header{
  background: radial-gradient(rgb(251, 227, 56), rgb(239, 159, 20));
  height: 150px;
  display: table-row-group;
  width: 100%;
}

.header_lvl1{
  display: table;
  width: 100%;
  height: 100%;
}

.header_logo{
  width: 100px;
  padding-top: 50px;
  padding-left: 100px;
  display: table-cell;
}

.header_menu{
  display: table-cell;
  padding-left: 50px;
  padding-bottom: 20px;
  padding-left: 100px;
  vertical-align: bottom;
}

.header_menu_item{
  display: table-cell;
  padding-left: 50px;
  color: black;
  font-weight: bold;
}

.header_lvl2{
  font-size: 35px;
  font-weight: bold;
  text-transform: uppercase;
  display: table-row;

}

.header_lvl2_name{
  display: table-cell;
  padding-top: 80px;
  padding-left: 100px;
}

.header_lvl3{
    font-size: 15px;
    text-transform: uppercase;
    display: table-cell;
    padding-bottom: 70px;
}

.header_lvl3_name{
  display: table-cell;
  padding-top: 30px;
  padding-left: 100px;
}

main{
  background: white;
  display: table;
}

.main_lvl{
  display: table-row;
}

.left_cell{
  min-width: 350px;
  max-width: 900px;
  display: table-cell;
  padding-left: 100px;
}

h2{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
  margin-top: 90px;
  margin-bottom: 60px;
}



li::marker {
  content: "—  ";
  font-weight: 800;
  font-size: 25px;
  color: rgb(56, 170, 123);
}

li{
  text-transform: uppercase;
  font-weight: 800;
  font-size: 25px;
  margin-top: 20px;
}

ul{
  margin-top: 30px;
}

.right_cell{
  display: table-cell;
  max-width: 800px;
  min-width: 500px;
}

.link{
  color: #00BFFF;
  text-decoration: underline;
}

hr{
  margin-top: 100px;
  border-color: lightgray;
  border-width: 1px;
}

.quote{
  margin-top: 35px;
  margin-bottom: 35px;
  padding-left: 25px;
  border-width: 0 0 0 4px;
  border-style: solid;
  border-color: rgb(56, 170, 123);
  font-style: italic;
  font-weight: bold;
}

.quote::after{
  content: "";
}

table{
  border-collapse: collapse;
  font-size: 18px;
  margin-top: 30px;
  margin-bottom: 50px;
  width: 100%;
}

th {
  border-color: rgb(218, 218, 218);
  border-width: 1px;
  background: rgb(239, 239, 239);
  border-style: solid;
  padding: 10px;
  text-align: left;
  padding-left: 20px;
}

td{
  border-color: rgb(218, 218, 218);
  border-width: 1px;
  border-style: solid;
  padding: 10px;
  text-align: left;
  padding-left: 20px;
}

a{
  text-decoration: none;
  color: inherit;
}
