@font-face {
    font-family: ComicS; /* Гарнитура шрифта */
    src: url(../fonts/ComicSansMS.ttf); /* Путь к файлу со шрифтом */
}

body{
  background-image: url(../images/background.jpg);
  background-size: cover;
  font-family: sans-serif;
  display: grid;
  grid-template-columns: repeat(5, 250px);
  grid-gap: 30px;
  user-select: none;
}

.red{
  color: red;
}

.black{
  color: black;
}

.wrapper{
  margin-top: 500px;
  position: relative;
  background-image: url(../images/card.png);
  background-size: cover;
  border-radius: 10px;
}

.card{
  top: 0px;
  width: 210px;
  height: 310px;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  position: relative;

  transition: linear;
  animation-name: anim_2;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-duration: 0.5s;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

.wrapper:hover .card{
  transition: linear;
  animation-name: anim_1;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-duration: 0.5s;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

.number{
  font-size: 35px;
  font-weight: bold;
  width: 40px;
  text-align: center;
  position: relative;
}

.suit-small{
  font-size: 45px;
  font-weight: bold;
  width: 40px;
  text-align: center;
  position: relative;
}

.suit-central{
  font-size: 110px;
  text-align: center;
  width: 100%;
}

.reverse{
  transform: rotate(180deg);
  margin-left: auto;
  margin-right: 0;
}
