body{
  background: rgb(242, 242, 242);
}

.inner-grid{
  display: grid;
  grid-template-rows: auto auto auto;
  /*Если зафиксировать нижний бар - на мобильниках будет печаль*/
}

.catalog-grid{
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(3, auto);
  max-width: 1550px;
  background: rgb(242, 242, 242);
  position: relative;
}

.sort{
  padding-left: 5%;
  padding-left: auto;
  padding-right: auto;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  padding-top: 50px;
  padding-bottom: 50px;
}

.sortSelectors{
  height: 42px;
}

.sortBy{
  float: left;
  margin-right: 20px;
  margin-top: 13px;
}

.sortByOutBox{
  float: left;
  background: white;
  height: 20px;
  padding: 10px;
  border-color: rgb(200, 200, 200);
  border-width: 1px;
  border-style: solid;
}

.sortByInnerBox{
  padding: 3px 8px;
  color: rgb(100, 100, 100);
}

.notRightBox{
  border-right-color: rgb(200, 200, 200);
  border-right-width: 1px;
  border-right-style: solid;
}

.sortByInnerBox{
  float: left;
}

.sortChecked{
  font-weight: bold;
  color: rgb(200, 0, 0);
}

.sortByInnerBox:hover{
  color: rgb(255, 0, 0);
}

.sortTicks{
  margin-top: 40px;
  margin-bottom: 15px;
}

.sortTick{
  margin-right: 15px;
}

.firststLvlSort{
  padding-bottom: 10px;
}

.priceSort{
  float: left;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.priceRange{
  float: left;
  width: 50px;
  height: 30px;
  font-size: 16px;
}

.sendFrom{
  float: left;
  height: 36px;
  width: 200px;
  font-size: 16px;
  padding-left: 5px;
  margin-left: 30px;
}

.sendFrom:focus{
  outline: none;
}

.priceRange:focus{
  outline: none;
}



.filter{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 5;
  padding-left: 10%
}

.filterBox{
  float: left;
  /*margin-right: 30px;*/
  padding-left: 10%;
  padding-top: 25px;
  margin-top: -25px;
  background: white;
  width: 250px;
}

.insideFilterBox{
  width: 200px;
  border-bottom-color: rgb(200, 200, 200);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding-bottom: 25px;
}

.filterCheckBox{
  display: block;
  margin-bottom: 5px;
}

.lastBox{
  border-bottom-width: 0px;
}

.good{
  background: white;
  width: 350px;
  margin-bottom: 25px;
  border-radius: 10px;
  margin-left: 10%;
  margin-bottom: 50px;
  height: 528px;
}

.gooodsImage{
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  z-index: 1;
}

.hiddenImage:hover {
  opacity: 1;
}

.hiddenImage{
  position: absolute;
  width: 350px;
  opacity: 0;
  z-index: 5;
}

.goodsInfo{
  padding-left: 15px;
  padding-right: 15px;
}

.goodsTitle{
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 16px;
  color: rgb(50, 50, 50);
  margin-top: 5px;
  margin-bottom: 5px;
  float: left;
  width: 100%;
  height: 57px;
}

.goodsPrice{
  font-weight: bold;
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 5px;
  float: left;
  width: 100%;
}

.goodsShipping{
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 14px;
  color:  rgb(120, 120, 120);
  float: left;
  width: 100%;
}

.goodsRate{
  margin-top: 5px;
  margin-bottom: 0px;
  font-size: 15px;
  color:  rgb(120, 120, 120);
  width: 50px;
  float: left;
}

.goodsSold{
  text-align: right;
  margin-top: 5px;
  margin-bottom: 0px;
  font-size: 15px;
  color:  rgb(120, 120, 120);
  width: 150px;
  float: right;
}

.goodsShop{
  float: left;
  font-size: 14px;
  color:  rgb(120, 120, 120);
  text-decoration: underline;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 15px;
}

.star{
  color: red;
}

h5{
  font-size: 17px;
}

@media (max-width: 1200px){
  .good{
    width: 300px;
    height: 478px;
  }
  .hiddenImage{
    width: 300px;
  }
}
