
.inner-grid{
  display: grid;
  grid-template-rows: auto auto 270px;
}

.catalog-grid{
  display: grid;
  grid-template-columns: repeat(3, auto);
  background: rgb(242, 242, 242);
}

.sort{
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  padding-top: 50px;
  padding-bottom: 50px;
}

.sortSelectors{
  height: 42px;
}

.sortBy{
  float: left;
  margin-right: 20px;
  margin-top: 13px;
}

.sortByOutBox{
  float: left;
  background: white;
  height: 20px;
  padding: 10px;
  border-color: rgb(200, 200, 200);
  border-width: 1px;
  border-style: solid;
}

.sortByInnerBox{
  padding: 3px 8px;
  color: rgb(100, 100, 100);
}

.notRightBox{
  border-right-color: rgb(200, 200, 200);
  border-right-width: 1px;
  border-right-style: solid;
}

.sortByInnerBox{
  float: left;
}

.sortChecked{
  font-weight: bold;
  color: rgb(200, 0, 0);
}

.sortByInnerBox:hover{
  color: rgb(255, 0, 0);
}

.sortTicks{
  margin-top: 40px;
  margin-bottom: 15px;
}

.sortTick{
  margin-right: 15px;
}

.firststLvlSort{
  padding-bottom: 10px;
}

.priceSort{
  float: left;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.priceRange{
  float: left;
  width: 50px;
  height: 30px;
  font-size: 16px;
}

.sendFrom{
  float: left;
  height: 36px;
  width: 200px;
  font-size: 16px;
  padding-left: 5px;
  margin-left: 30px;
}

.sendFrom:focus{
  outline: none;
}

.priceRange:focus{
  outline: none;
}



.filter{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 5;
}

.filterBox{
  float: right;
  margin-right: 30px;
  padding-top: 25px;
  padding-left: 30px;
  margin-top: -25px;
  background: white;
  width: 250px;
}

.insideFilterBox{
  width: 200px;
  border-bottom-color: rgb(200, 200, 200);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding-bottom: 25px;
}

.filterCheckBox{
  display: block;
  margin-bottom: 5px;
}

.lastBox{
  border-bottom-width: 0px;
}

.good{
  height: 100px;
  width: 200px;
  border-color: black;
  border-style: solid;
  border-width: 5px;
}
