

.story{
  position: absolute;
  height: 250px;
  border-radius: 20px;
  z-index: 5;
  transition: linear;
  user-select: none;
  overflow: hidden;
}

#story_1{
  left: 0px;
  animation-name: anim_story_1;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 60s;
  animation-direction: normal;
}

#story_2{
  left: 220px;
  animation-name: anim_story_2;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 60s;
  animation-direction: normal;
}

#story_3{
  left: 440px;
  animation-name: anim_story_3;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 60s;
  animation-direction: normal;
}

#story_4{
  left: 660px;
  animation-name: anim_story_4;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 60s;
  animation-direction: normal;
}

#story_5{
  left: 880px;
  animation-name: anim_story_5;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 60s;
  animation-direction: normal;
}

#story_6{
  left: 1100px;
  animation-name: anim_story_6;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 60s;
  animation-direction: normal;
}

#story_7{
  left: 1320px;
  animation-name: anim_story_7;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 60s;
  animation-direction: normal;
}

#story_8{
  left: 1540px;
  animation-name: anim_story_8;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 60s;
  animation-direction: normal;
}

#story_9{
  left: 1760px;
  animation-name: anim_story_9;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 60s;
  animation-direction: normal;
}


@keyframes anim_story_1 {
  0%{
    left: 0%;
    display: block;
  }
  89%{
    left: 90%;
    display: block;
  }
  89.1%{
    z-index: 0;
    display: none;
  }
  89.2%{
    display: none;
    left: -20%;
  }
  89.25%{
    display: none;
  }

  89.3%{
    z-index: 5;
    display: block;
  }
  100%{
    left: 0%;
  }
}

@keyframes anim_story_2 {
  0%{
    left: 11%;
    display: block;
  }
  78%{
    left: 90%;
    display: block;
  }
  78.1%{
    z-index: 0;
    display: none;
  }
  78.2%{
    display: none;
    left: -20%;
  }
  78.25%{
    display: none;
  }

  78.3%{
    z-index: 5;
    display: block;
  }
  100%{
    left: 11%;
  }
}

@keyframes anim_story_3 {
  0%{
    left: 22%;
    display: block;
  }
  67%{
    left: 90%;
    display: block;
  }
  67.1%{
    z-index: 0;
    display: none;
  }
  67.2%{
    display: none;
    left: -20%;
  }
  67.25%{
    display: none;
  }

  67.3%{
    z-index: 5;
    display: block;
  }
  100%{
    left: 22%;
  }
}

@keyframes anim_story_4 {
  0%{
    left: 33%;
    display: block;
  }
  56%{
    left: 90%;
    display: block;
  }
  56.1%{
    z-index: 0;
    display: none;
  }
  56.2%{
    display: none;
    left: -20%;
  }
  56.25%{
    display: none;
  }
  56.3%{
    z-index: 5;
    display: block;
  }
  100%{
    left: 33%;
  }
}


@keyframes anim_story_5 {
  0%{
    left: 44%;
    display: block;
  }
  45%{
    left: 90%;
    display: block;
  }
  45.1%{
    z-index: 0;
    display: none;
  }
  45.2%{
    display: none;
    left: -20%;
  }
  45.2%{
    display: none;
  }

  45.3%{
    z-index: 5;
    display: block;
  }
  100%{
    left: 44%;
  }
}


@keyframes anim_story_6 {
  0%{
    left: 55%;
    display: block;
  }
  34%{
    left: 90%;
    display: block;
  }
  34.1%{
    z-index: 0;
    display: none;
  }
  34.2%{
    display: none;
    left: -20%;
  }
  34.25%{
    display: none;
  }
  34.3%{
    z-index: 5;
    display: block;
  }
  100%{
    left: 55%;
  }
}

@keyframes anim_story_7 {
  0%{
    left: 66%;
    display: block;
  }
  23%{
    left: 90%;
    display: block;
  }
  23.1%{
    z-index: 0;
    display: none;
  }
  23.2%{
    display: none;
    left: -20%;
  }
  23.25%{
    display: none;
  }

  23.3%{
    z-index: 5;
    display: block;
  }
  100%{
    left: 66%;
  }
}

@keyframes anim_story_8 {
  0%{
    left: 77%;
    display: block;
  }
  12%{
    left: 90%;
    display: block;
  }
  12.1%{
    z-index: 0;
    display: none;
  }
  12.2%{
    display: none;
    left: -20%;
  }
  12.25%{
    display: none;
  }
  12.3%{
    z-index: 5;
    display: block;
  }
  100%{
    left: 77%;
  }
}


@keyframes anim_story_9 {
  0%{
    left: 88%;
    display: block;
  }
  1%{
    left: 90%;
    display: block;
  }
  1.1%{
    z-index: 0;
    display: none;
  }
  1.2%{
    display: none;
    left: -20%;
  }
  1.25%{
    display: none;
  }
  1.3%{
    z-index: 5;
    display: block
  }
  100%{
    left: 88%;
  }
}
