@font-face {
    font-family: ComicS; /* Гарнитура шрифта */
    src: url(../fonts/ComicSansMS.ttf); /* Путь к файлу со шрифтом */
}

body{
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(4, auto);
  margin: 0px;
}

header{
  background: white;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.shopTitile{
  color: white;
  font-size: 60px;
  font-family: ComicS;
  margin-top: 50px;
  margin-left: 100px;
}

.olya{
  color: rgb(255, 153, 0);
}

.express{
  color: rgb(231, 46, 4);
}

.searchBtn{
  background: url(images/search.png);
  width: 30px;
  height: 30px;
}

footer{
  height: 200px;
  background: green;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
}

.promo{
  height: 200px;
  background: red;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.blog{
  height: 200px;
  background: cyan;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

.sidebar{
  height: 400px;
  background: purple;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
}





header::after{
  content: "";
  display: block;
  clear: both;
}

footer::after{
  content: "";
  display: block;
  clear: both;
}

.promo::after{
  content: "";
  display: block;
  clear: both;
}

.sidebar::after{
  content: "";
  display: block;
  clear: both;
}

.blog::after{
  content: "";
  display: block;
  clear: both;
}
