@font-face {
    font-family: ComicS; /* Гарнитура шрифта */
    src: url(../fonts/ComicSansMS.ttf); /* Путь к файлу со шрифтом */
}

html{
  max-width: 1920px;
}

body{
  display: grid;
  grid-template-columns: repeat(3, 33.33%);
  grid-template-rows: repeat(4, auto);
  margin: 0px;
}

header{
  background: white;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: center;
  padding-bottom: 30px;
}



.shopTitile{
  color: white;
  font-size: 50px;
  font-family: ComicS;
  display: inline-block;
  user-select: none;
  /*margin-left: 100px;*/
}

.olya{
  color: rgb(255, 153, 0);
}

.express{
  color: rgb(231, 46, 4);
}

.search{
  display: inline-block;
  border-color: rgb(255, 71, 71);
  background: rgb(255, 71, 71);
  border-width: 5px;
  border-style: solid;
  width: auto;
  border-radius: 3px;
  width: 800px;
  align-items: center;
  vertical-align: middle;
  height: 36px;
  padding-left: 2px;
  margin-top: -20px;
  margin-left: 50px;
}

.searchBar{
  height: 34px;
  margin: 0;
  vertical-align: top;
  margin-left: -2px;
  width: 550px;
  border-color: white;
  border-width: 0px;
  border-right-width: 4px;
  border-right-color: #d6d6d6;
  padding-left: 15px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.searchBar:focus{
  outline:none;
}

.searchCategories{
    height: 36px;
    margin: 0px;
    margin-left: -7px;
    vertical-align: top;
    z-index: 4;
    width: 185px;
    border-width: 0px;
    color: gray;
    padding-left: 15px;
}

option{
  color: black;
}

.searchCategories:focus{
  outline:none;
}

.searchBtn{
  background: rgb(255, 71, 71);
  border: none;
  margin-left: 0px;
  vertical-align: top;
  z-index: 5;
}

.searchBtn:focus{
  outline:none;
}

.searchPic{
  width: 30px;
  height: 31px;
  margin-left: 0px;
  z-index: 6;
  filter: invert(1);
}

.searchPic:focus{
  outline:none;
}

footer{
  height: 200px;
  background: green;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
}

.promo{
  /*height: 200px;*/
  background: rgb(242, 242, 242);
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.gradientPromo{
  background: linear-gradient(to bottom, rgb(231, 231, 231), rgb(242, 242, 242));
  height: 20px;
}

.img_container {
  margin: 20px auto 40px auto;
  /*position: relative;*/
  height: 300px;
  width: 750px;
}

.img_container::after{
  content: "";
  display: block;
  clear: both;
}

.blog{
  background: cyan;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

.story_container{
  height: 300px;
  width: 100%;
  overflow: hidden;
}

.sidebar{
  z-index: 10;
  height: 680px;
  background: purple;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
}




header::after{
  content: "";
  display: block;
  clear: both;
}

footer::after{
  content: "";
  display: block;
  clear: both;
}

.promo::after{
  content: "";
  display: block;
  clear: both;
}

.sidebar::after{
  content: "";
  display: block;
  clear: both;
}

.blog::after{
  content: "";
  display: block;
  clear: both;
}
