.firstLevel{
  margin-bottom: 20px;
  list-style-type: square;
}

.note{
  font-style: italic;
}

.bike{
  color: blue;
}

.giro{
  color: orange;
}

.mono{
  color: green;
}

.eScooter{
  color: red;
}

.bike, .giro, .mono, .eScooter{
  list-style-type: disc;
}
