body{
  font-family: sans-serif;
}

.menuText{
  text-decoration: none;
  color: black;
}

.head {
  margin-top: 0px;
  width: 100%;
  background: radial-gradient(rgb(255, 238, 64), rgb(239, 159, 20));
  margin: 0px;
  font-family: sans-serif;
}

.head::after{
  content: "";
  display: block;
  clear: both;
}

.logo{
  width: 70px;
  margin-left: 4%;
  margin-top: 30px;
  float: left;
}

.menuItem {
  float: left;
  margin-left: 4%;
  font-size: 25px;
  font-weight: bold;
}

.menu {
  padding-top: 55px;
  padding-left: 20%;
}

.computer {
  width: 650px;
  float: left;
  margin-left: 5%;
}



.motivateText{
  float: left;
  width: 30%;
  min-width: 300px;
}

.lvl2{
  padding-top: 150px;
  margin-left: 4%;
}

.mP1 {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bold;
}

.mP2 {
  font-size: 20px;
}

.order {
  margin-top: 50px;
  height: 50px;
  width: 250px;
  background-color: rgb(0, 183, 111);
  border-width: 0px;
  font-size: 20px;
  font-weight: bolder;
  color: white;
  margin-bottom: 120px;
}

.middle1{
  background: rgb(239, 239, 239);
}

.middle1::after{
  content: "";
  display: block;
  clear: both;
}

.achivments{
  float: left;
  width: 25%;
  padding-left: 4%;
  max-width: 450px;
  min-width: 300px;
  margin-top: -40px;
  margin-bottom: 50px;
}

.icon{
  width: 100px;
}

.achivHeader{
  padding-top: 5px;
  font-size: 26px;
  font-weight: bold;
}

.achivText{
  font-size: 20px;
  margin-top: 25px;
}

@media (max-width: 1150px) {
  .computer {
    display: none;
  }
  .motivateText{
    padding-top: 30px;
    width: 60%;
    padding-left: 10%;
  }
  .achivments{
    padding-left: 10%;
    min-width: 400px;
    width: 30%;
    margin-top: 50px;
    margin-bottom: 30px;
  }
}
