body{
  margin: 0;
  display: grid;
  grid-template-columns: auto 130vh auto;
  position: relative;
  z-index: 0;
  overflow-x: hidden;
}

.background{
  height: 100vh;
  width: calc((100vw - 130vh)/2);
  background: white;
  position: relative;
  z-index: 10;
}

#bg1{
  grid-column-start: 1;
}

#bg2{
  grid-column-start: 3;
}

.scene{
  grid-column-start: 2;
  margin-left: auto;
  margin-right: auto;
  width: 130vh;
  height: 100vh;
  background: url(../images/sea.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: -1;

  animation-name: backgroundAnim;
  animation-duration: 40s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.discleimer{
  width: 50%;
  position: absolute;
  left: 25%;
  top: 60%;
  z-index: 10;
  color: black;
  opacity: 0;
  animation-name: discleimerAnim;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

.sun{
  position: absolute;
  background: url(../images/sun.svg);
  background-repeat: no-repeat;
  background-size: contain;

  animation-name: sunAnim;
  animation-duration: 3.5s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;

  z-index: 2;
}

.bird{
  height: 8%;
  width: 8%;
  left: -15%;
  top: 20%;
  background: url(../images/bird.svg);
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;

  animation-name: birdAnim;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.ship{
  height: 20%;
  width: 20%;
  left: -15%;
  top: 50%;
  background: url(../images/ship.svg);
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 4;

  animation-name: shipAnim;
  animation-duration: 40s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.bill{
  height: 40%;
  width: 30%;
  left: 10%;
  top: 0%;
  background: url(../images/bill.jpeg);
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 3;

  animation-name: billAnim;
  animation-duration: 40s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.cloud{
  height: 10%;
  width: 10%;
  left: 20%;
  top: 5%;
  background: url(../images/5gCloud.svg);
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 2;

  animation-name: cloudAnim;
  animation-duration: 40s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.wifi1{
  height: 5%;
  width: 5%;
  left: 50%;
  top: 10%;
  background: url(../images/wifi.svg);
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 3;
  transform: rotate(160deg);

  animation-name: wifi1Anims;
  animation-duration: 40s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.wifi2{
  height: 5%;
  width: 5%;
  left: 50%;
  top: 55%;
  background: url(../images/wifi.svg);
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 6;
  transform: rotate(0deg);

  animation-name: wifi2Anims;
  animation-duration: 40s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.chip{
  height: 5%;
  width: 5%;
  left: 60%;
  top: 60%;
  background: url(../images/5gChip.svg);
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 6;
  transform: rotate(0deg);

  animation-name: chipAnim;
  animation-duration: 40s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#b1 {
  animation-delay: 1s;
}

#b2 {
  animation-delay: 8s;
}

#b3 {
  animation-delay: 16s;
}
