@font-face {
    font-family: Comic Sans MS; /* Гарнитура шрифта */
    src: url(fonts/ComicSansMS.ttf); /* Путь к файлу со шрифтом */
}

body{
  font-family: sans-serif;
  font-size: 15px;
  margin: 0;
  min-width: 1100px;
}

header{
  margin: 0;
  width: 100%;
  background: white;
}

.shopTitile{
  color: white;
  font-size: 60px;
  font-family: Comic Sans MS;
  margin-top: 50px;
  margin-left: 100px;
}

.olya{
  color: rgb(255, 153, 0);
}

.express{
  color: rgb(231, 46, 4);
}

.flex-box{
  display: flex;
  flex-wrap: wrap;
  background: rgb(242, 242, 242);
  padding-left: 65px;
}

.merch{
  width: 250px;
  margin: 35px 35px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background: white;
  border-radius: 10px;
}

.merchTitle{
  color: rgb(80, 107, 141);
  order: 4;
  text-overflow: ellipsis;
  width: 230px;
  margin-left: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.merchPic{
  width: 100%;
  order: 1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.newPrice{
  padding-top: 10px;
  padding-bottom: 30px;
  font-weight: bold;
  font-size: 25px;
  order: 2;
  margin-left: 10px;
}

.oldPrice{
  font-size: 15px;
  text-decoration: line-through;
  color: rgb(178, 178, 178);
  order: 3;
  align-self: flex-end;
  margin-right: 10px;
  margin-top: -50px;
}

.type{
  order: 5;
  color: gray;
  font-size: 13px;
  margin-top: 0px;
  margin-left: 10px;
}

.discount{
  height: 60px;
  width: 60px;
  position: absolute;
  align-self: flex-end;
  margin-left: 30px;
  margin-top: -20px;
}

.no_price{
  visibility: hidden;
}
