body{
  font-family: sans-serif;
  font-size: 15px;
}

.flex-box{
  display: flex;
  flex-wrap: wrap;
}

.merch{
  width: 300px;
  margin: 10px 30px;
}

.merchTitle{
  color: rgb(80, 107, 141);
}

.merchPic{
  width: 200px;
}

.newPrice{
  padding-top: 10px;
  font-weight: bold;
  font-size: 25px;
}

.oldPrice{
  font-size: 15px;
  text-decoration: line-through;
  color: rgb(178, 178, 178);
}
