label{
  border: 1px black solid;
  width: 15px;
  height: 15px;
  display: inline-block;
  content: "";
  z-index: 1;
  position: relative;
}

li::before{
  display: inline-block;
  border: 1px blue solid;
  border-width: 0px 2px 2px 0px;
  width: 5px;
  height: 10px;
  content: "";
  position: relative;
  left: -15.5px;
  top: -3.5px;
  opacity: 0;
  transform: rotate(-90deg);
  z-index: 0;
}

input:checked ~ li::before{
  opacity: 1;
  transform: rotate(45deg);
  transition: 0.4s;
}



li{
  display: inline;
}

input{
  display: none ;
}
