.paper-btn {
  display: inline-block;
  margin: 58px 12px;
}

.paper-btn label {
  display: inline-block;
  width: 80px;
  border-radius: 3px;
  background-color: #f5f5f5;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  color: #616161;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 40px;
  cursor: pointer;
  text-align: center;
}
.paper-btn input {
}
.paper-btn-true input:checked ~ label {
  background: green;
}

.paper-btn-false input:checked ~ label {
  background: red;
}

input:checked ~ label{
  font-weight: bold;
  color: white;
  box-shadow: 10px 10px 5px gray;
  transition: 0.3s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px black solid;
}

input[type="radio"] {
  display: none;
}
